{% include "adminheader.html" %}

{% load staticfiles %}

<!-- 
Body Section 
-->
<div class="row">

	<div class="span12">
	<div class="well np">
		<div id="myCarousel" class="carousel slide homCar">
         <div class="carousel-inner">
			  <div class="item">
                <img style="width:100%" src="/static/assets/img/w1.jpg" alt="bootstrap ecommerce templates">
                <div class="carousel-caption">
                      <p><span></span></p>
                </div>
              </div>
			  <div class="item">
                <img style="width:100%" src="/static/assets/img/w2.jpg" alt="bootstrap ecommerce templates">
                <div class="carousel-caption">
                      <p><span></span></p>
                </div>
              </div>
			  <div class="item active">
                <img style="width:100%" src="/static/assets/img/w3.png" alt="bootstrap ecommerce templates">
                <div class="carousel-caption">
                      <p><span></span></p>
                </div>
              </div>
              <div class="item">
                <img style="width:100%" src="/static/assets/img/w4.jpg" alt="bootstrap templates">
                <div class="carousel-caption">
                      <p><span></span></p>
                </div>
              </div>
			  <div class="item">
                <img style="width:100%" src="/static/assets/img/2.jpg" alt="bootstrap templates">
                <div class="carousel-caption">
                      <p><span></span></p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>

	
	        </div>
	
<!-- 
Clients 
-->


<!--
Footer
-->

</div><!-- /container -->

<div class="copyright">
<div class="container">
	<p class="pull-right">
		<a href="#"><img src="/static/assets/img/maestro.png" alt="payment"></a>
		<a href="#"><img src="/static/assets/img/mc.png" alt="payment"></a>
		<a href="#"><img src="/static/assets/img/pp.png" alt="payment"></a>
		<a href="#"><img src="/static/assets/img/visa.png" alt="payment"></a>
		<a href="#"><img src="/static/assets/img/disc.png" alt="payment"></a>
	</p>
	<span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
</div>
</div>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
	<script src="/static/assets/js/bootstrap.min.js"></script>
	<script src="/static/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/static/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/static/assets/js/shop.js"></script>
  </body>
</html>








 
              